@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex justify-content-center">
            <h1>Sistema de Gestión de Usuarios</h1>
        </div>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
